main.home_layout, main.list_layout, main.form_layout {
    font-family: "Roboto", "Odoo Unicode Support Noto", sans-serif;
    font-weight: 400;
    background-color: #f9f9f9;
    color: rgba(102, 102, 102, 1);

    a {
        color: #00A09D;
        text-decoration: none;

        &:hover {
            color: #007a77;
        }
    }

    input:not([type=checkbox]) {
        color: inherit;

        &.o_input {
            border: none;
            box-shadow: none;
            text-align: right;
            padding: .15rem;

            &:focus {
                outline: none;
                border-bottom: 1px solid #666666;
            }
        }

        &.oe_title {
            border: none;
            padding-left: 0;
            border-bottom: 1px solid #666666;
            width: 100%;
            outline: none;

            &.is-invalid {
                border-bottom: 1px solid $danger;
            }

            &:required {
                border-bottom: 2px solid rgba(102, 102, 102, 1);
            }

            &:disabled {
                color: black;
                background-color: transparent;
                border-bottom: none;
            }
        }

        &.hidden-attachments {
            border: 0;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            width: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
        }

        &::placeholder {
            color: rgba(102, 102, 102, .4);
        }
    }

    select {
        option{
            color: rgba(102, 102, 102, 1);
        }
    }

    button {
        &.btn-primary {
            font-family: inherit;
            font-weight: 500;
            padding: .375rem .75rem;
            text-transform: uppercase;
            border-radius: 0;
            color: #FFFFFF;
            background-color: #00A09D;
            border-color: #00A09D;

            &:hover, &:focus {
                color: #FFFFFF !important;
                background-color: #007a77 !important;
                border-color: #006d6b !important;
            }
        }

        &.btn-secondary {
            font-family: inherit;
            font-weight: 500;
            padding: .375rem .75rem;
            color: #212529;
            border-radius: 0;
            text-transform: uppercase;
            background-color: white;
            border-color: white;
            color: #00A09D;

            &:hover, &:focus {
                color: #212529 !important;
                background-color: #e6e5e5 !important;
                border-color: #e6e5e5 !important;
            }
        }
    }

    div {
        &.card-body {
            color: rgba(102, 102, 102, 1);
        }

        &.o_cp_controller {
            background-color: white;
            padding: .75rem 1rem;
        }

        &.o_form_sheet_bg {
            position: relative;
            box-sizing: border-box;
            padding-left: 32px;
            padding-right: 32px;
            margin: 12px auto;
        }

        &.o_form_sheet {
            background-color: white;
            border: 1px solid #ced4da;
            box-shadow: 0 5px 20px -15px black;
            padding: 24px;
        }

        .oe_avatar {
            float: right;
            margin-bottom: 10px;

            > img {
                max-width: 90px;
                max-height: 90px;
                vertical-align: top;
                border: 1px solid #a8a8a8;
            }
        }

        &.o_field_image {
            position: relative;

            .o_form_image_controls {
                @include o-position-absolute(0, 0);
                width: 100%;

                color: white;
                background-color: #00A09D;
                opacity: 0;
                transition: opacity ease 400ms;

                > button.fa {
                    border: none;
                    background-color: transparent;
                }

                > .fa {
                    padding: 4px;
                    margin: 5px;
                    cursor: pointer;
                }
            }
            @include media-breakpoint-down(xs, $o-extra-grid-breakpoints) {
                .o_form_image_controls{
                    position: initial;
                    opacity: 1;
                    > .fa{
                        width: 50%;
                        padding: 6px;
                        margin: 0px;
                        text-align: center;
                        &.o_select_file_button{
                            background: #00A09D;;
                        }
                        &.o_clear_file_button{
                            background: theme-color('danger');
                        }
                    }
                }
            }

            &:hover .o_form_image_controls {
                opacity: 0.8;
            }

            &.o_field_invalid > img {
                border: 1px solid theme-color('danger');
            }
        }

        &.o_input_file {
            position: absolute;
            top: 1px;
            opacity: 0;
            width: 100%;
            height: 26px;
        }
    }

    table {
        &.o_list_table {
            color: #666666;

            tbody {
                cursor: pointer;
            }

            td {
                &.o_data_cell {
                    padding: 0;

                    input:not([type=checkbox]), select {
                        cursor: pointer;
                        padding-left: 0;
                        padding-right: 0;
                        border-radius: 0;
                        border: none;
                        background-color: transparent;
                    }
                }
            }

            th {
                padding-top: .75rem;
                padding-bottom: .75rem;
            }

            th:first-child, td:first-child {
                padding-left: 1rem;
            }
            th:last-child, td:last-child {
                padding-right: 1rem;
            }
        }
    }

    input:not([type=checkbox]), select, textarea {
        &:focus {
            outline: 0px !important;
            -webkit-appearance: none;
            box-shadow: none !important;
        }
    }

    select {
      /* for Firefox */
      -moz-appearance: none;
      /* for Chrome */
      -webkit-appearance: none;
    }

    /* For IE10 */
    select::-ms-expand {
      display: none;
    }
}